* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /*border: 1px solid blue;*/
}

/* для уникнення горизонтальноъ прокрутки */

.row {  
  margin-left: 0px;
  margin-right: 0px;
}


.in-centered {display: flex;
justify-content: center;
align-items: center;
}

.in-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
}

.active {
  background-color: #15a4fa;
}

a {
  text-decoration: none;
  color: #78829d; 
}

.active a {
  color: #ffffff; 
}

ul { 
  list-style: none; 
}

body {
  font-family: Proxima Nova;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: #78829d;
  font-size: 13px;
}

.Book-Store { 
  height: 1053px;
  background-color: #ffffff;
  margin: auto;
  padding: 10px 20px;

}

.app-header {
  border-radius: 6px 6px 0px 0px;  
  height: 45px;
  background-color: #2f364a;
  color: #78829d; 
}

.app-header-circles-container {
  height: 45px;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin-left: 2px;
  margin-right: 2px;
}

.app-header-name {
  flex: 1;
  height: 45px;
}

.app-header-name a {
  margin-left: 6px;
}

.Help-Center-Our-Support {
  width: 191px;
  height: 11px;
}

.small-circle {
  width: 4px;
  height: 4px;
  background-color: #19202e;
  margin: 8px;
}

.user-online {
  width: 158px;
  height: 45px;
  background-color: #15a4fa;
  border-radius: 0px 6px 0px 0px;
}

#avatar {
  border-radius: 16px;
}

.user-online a {
  color: #ffffff;
  margin-left: 8px;
  margin-right: 8px;
}

.app {  
  height: 900px;
  background-color: #ffffff;
}

.sidebar {
  width: 200px;
  height: 900px;
  background-color: #1f2637;
}

.add-btn-container {
  width: 200px;
  height: 120px;
}

.add-btn {
  width: 160px;
  height: 44px;
  border-radius: 4px;
  background-color: #f2795a;
  margin-bottom: 6px;
  border: none;
}

.add-btn img {
  margin-right: 19px;
}

.Add-a-Book {
  width: 86px;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.divider {
  width: 200px;
  height: 6px;
  background-color: #181e2c;
  border-top: 1px solid #141824;
  border-bottom: 1px solid #78829d2c;
}

.left-menue li {
  height: 38px;
}

.left-menue li img {
  margin-right: 12px;
}

.left-menue li:last-of-type {
  margin-bottom: 10px;
}

.categories {
  height: 181px;
  margin-top: 29px;
  margin-bottom: 28px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.categories li .circle {
  margin-right: 15px;
}

.app-main {
  flex: 1;
  height: 900px;
  /*border: 1px solid blue;*/
}

.top-panel {
  flex: 1;
  height: 70px;
  background-color: #eef1f7;
}

.filter {
  flex: 1;
  height: 49px;
  background-color: #eef1f7;
  border-top: 1px solid #dadfea;
  border-bottom: 1px solid #dadfea;
}

.content-window {
  overflow-y: scroll;
  padding: 15px 10px;
}

.book {
  margin: 15px 10px;
}

.book__logo {
  border-radius: 5px;
}

.book__title {
  font-size: 16px;
  color: #444c63;
  margin-top: 17px;
  margin-left: 1px;
}

.book__author {
  font-size: 12px;
  color: #6f7d95;
  margin-top: 12px;
}

.book__rating {
  margin-top: 11px;
}

.app-footer {
  height: 45px;
  background-color: #181e2c;
  border-radius: 0px 0px 5px 5px;

  display: flex;
  justify-content: flex-end;
  align-items: center;  
}

.Email-mask {
  width: 55px;
  height: 45px;
  background-color: #1f2637;
  display: flex;
  justify-content: center;
  align-items: center;
}

.settings-mask {
  width: 55px;
  height: 45px;
  border-radius: 0px 0px 5px 0px;
  background-color: #15a4fa;
  display: flex;
  justify-content: center;
  align-items: center;
}
   
  @media screen and (min-width: 840px) {
    .app-header-circles-container {
      width: 349px;
    }
  }
    
  
  @media screen and (min-width: 1389px) {
    .Book-Store {
      width: 1360px;
    }

    .app-header {
      width: 1320px;
    }

    .app {
      width: 1320px;
    }

    .app-footer {
      width: 1320px;
    }
     
  }