//@import 'scss/show-borders';
@import 'scss/reset';

@mixin justify-align($justify-content, $align-items: center) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}

.Book-Store {
  height: 1053px;
  width: fit-content;
  margin: auto;
  font-family: Proxima Nova;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-size: 13px;
  letter-spacing: normal;
  color: #78829d;
  background-color: #ffffff;
  padding: 11px 33px 52px 36px;
}

.app {  
  flex: 1;
  height: 900px;
  @media screen and (min-width: 1389px) {
    width: 1320px;
  }

  @import 'scss/app-header';

  .app-body {
    @include justify-align(flex-start); 
    
    @import 'scss/left-sidebar';
    
    .app-main {
      flex: 1;
      height: 900px;

      .top-panel {
        flex: 1;
        height: 70px;
        background-color: #eef1f7;
        padding-left: 23px;
        padding-top: 29px;
      }

      @import 'scss/filter';
      @import 'scss/content-window';
    }
  }

  @import 'scss/app-footer';
}